table.comments-box.fixed {
	table-layout: auto;
}

table.comments-box.fixed #the-comment-list td.column-author {
	width: 30%;
}

th.column-its-comments-subscribe, td.column-its-comments-subscribe {
	text-align: center;
	width: 5%;
}